.container-main{
    
    .body-main{
        display: flex;
        width: 100%;
        padding-top: 80px;
        background-color: #17181c;
        min-height: 100vh;
        .side1{
            width: 5%;
            overflow-y:auto;
            position: fixed;
            left: 0px;
            // transition:all ease-in-out 0.5s;
        }
        .content-main{
            padding-top: 40px;
            width: 80%;
            position: relative;
            left: 5%;
        }
        .side2{
            width: 15%;
            overflow-y:auto;
            position: fixed;
            right: 0px;
        }
    } 
}
.bg-main{
    background-color: #17181c;
}
.bg-solid{
    background-color: #17181c85 !important;
}
.on-side{
    width: 10% !important;
}
.on-side-main{
    width: 75% !important;
    left: 10% !important;
}
@media only screen and (max-width: 1024px) {
    .side1, .side2{
        display: none;
    }
    .content-main{
        width: 100% !important;
        left: 0% !important;
    }
}